@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Raleway;
	color: purple;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

h3 {
	font-family: Raleway;
	color: darkgreen;
	text-align: left;
	padding-right: 10px;
	padding-left: 34px;
}

.least{
	color: rgba(208,11,14,1.00);
	padding-right: 10px;
	padding-left: 34px;
}

li {
	font-family: Raleway;
	color: blue;
	padding-right: 10px;
	padding-left: 10px;
}

.things{
	color: #FB0307;
	padding-right: 10px;
	padding-left: 10px;
}

.things2{
	color: #03461D;
	padding-right: 10px;
	padding-left: 10px;
}

.things3{
	color: rgba(146,18,168,1.00);
	padding-right: 10px;
	padding-left: 10px;
}

.things4{
	color: #F45604;
	padding-right: 10px;
	padding-left: 10px;
}

body {
	background-color: #F3E8B0;
	padding-right: 10px;
	padding-left: 10px;
}

.favorites {
	background-color: white;
	border-color: black;
	border: 1px solid black;
	
}

.least2 {
	background-color: #F0C78F;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-right: 10px;
	padding-left: 10px;
}
