@charset "UTF-8";
/* CSS Document */

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Mukta Vaani;
	margin: 1.66%;
	font-size: 24pt;
	font-weight: 800;
	text-transform: uppercase;
	color: #530C90;
	border-bottom: 2px solid orange;
	width: 30%;
	padding-bottom: 2px;
}
